.header{
  display: flex;
  padding: 10px 6vw;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
  #site-navigation{
    margin-left: 0;
  }
  .mini-cart{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mini-cart-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .mini-cart-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: auto;

  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .woocommerce-mini-cart{
    padding: 0;
  }
  .woocommerce-mini-cart-item{
    display: flex;
    margin-bottom: 20px;
    a{
      display: flex;
    }
    img{
      max-width: 200px!important;
    }
  }
  .woocommerce-mini-cart-item-detail{
    margin-left: 10px;
  }
  .woocommerce-mini-cart_details{
    margin-top: auto;
  }
  .widget_shopping_cart_content{
    display: flex;
    flex-direction: column;
    min-height: 440px;
  }
  .remove_from_cart_button{
    margin-left: auto;
  }
}